
<ion-content>
  <ion-slides pager="true">
    
    <ion-slide>
      <div>
        <img src="assets/slide.jpg" alt="logo">
        <h1>Welcome To <br>Citizens Reporting Solution App</h1>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <img src="assets/slide_news2.jpg" alt="logo">
          <h1>Home of Latest News</h1>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <img src="assets/slide_news3.jpg" alt="logo">
        <h1>Post recent Happenings</h1>-
      </div>
      <ion-button (click)="goToDashboard()" fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
    
  </ion-slides>
</ion-content>